@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LABORATORIO 1</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>INGRESO MANUAL</h2>
        <p>@Html.ActionLink("IR A MODULO", "Index", "Jugador") </p>
        
    </div>
    <div class="col-md-4">
        <h2>INGRESO POR ARCHIVO DE TEXTO</h2>
        <p>@Html.ActionLink("IR A MODULO", "Index", "Jugador") </p>
    </div>
</div>